<!DOCTYPE HTML>
<html>
<head>
	{% load static %}
	<meta charset="UTF-8">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="{% static  'js/jquery.event.drag-2.0.js' %}"></script>
	<link rel="stylesheet" href=" {% static  'js/style.css' %}" />

	<title>HTML5 Canvas + Django Channels</title>
</head>
<body>
	<div style="display:flex">
	<article><!-- our canvas will be inserted here--></article>
	<canvas id="tutorial">

	</canvas>
	<div>
		<textarea id="chat-log" cols="50" rows="20"></textarea><br/>
    	<input id="chat-message-input" type="text" size="50"/><br/>
    	<input id="chat-message-submit" type="button" value="Send"/>
	</div>
	</div>


	<script>
	var canvas = document.getElementById('tutorial');
	if(canvas.getContext){
		var ctx = canvas.getContext('2d');
	}else{
		console.log('fail')
	}
	canvas.height = 1000;
	canvas.width = 1000;
	ctx.fillStyle = "solid";
	ctx.strokeStyle = "#ECD018";
	ctx.lineWidth = 5;
	ctx.lineCap = 'round';
    var roomName = {{ room_name_json }};
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chan/' + roomName + '/'
    );
    chatSocket.onmessage= function(data){
    	point=JSON.parse(data.data);
    	console.log(point);
    	var message = point['message'];
    	if (message != undefined){
        document.querySelector('#chat-log').value += (message + '\n');
        }
    	ctx.strokeStyle = "#ff0000";
    	return draw(point.x, point.y, point.actType);

    }

    draw = function(x,y,type){
    	if (type === "dragstart") {
        ctx.beginPath();
        return ctx.moveTo(x, y);
      } else if (type === "drag") {
        ctx.lineTo(x, y);
        return ctx.stroke();
      } else {
        return ctx.closePath();
      }
    };
    $('canvas').live('drag dragstart dragend', function(e) {
    var offset, type, x, y;
    type = e.type;
    offset = $(this).offset();
    //e.offsetX = e.layerX - offset.left; // 이거 한사람 노이해
    //e.offsetY = e.layerY - offset.top;
    x = e.offsetX;
    y = e.offsetY;
	chatSocket.send(JSON.stringify({
		  x: x,
		  y: y,
		  type: type
	}));

  	});
	document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };




  	chatSocket.onopen =function(event){
		console.log('hi');
  	}
  	chatSocket.onclose=function(event){
  		console.log('bye');
  	}



</script>
</body>
</html>


